/*!
 * Start Bootstrap - Agency v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/*commom styles starts*/

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: #ff0083;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.80);
}


a:hover {
    color:inherit;
    text-decoration: none;
}
ul li{
	list-style-type: none;
	display: inline-block;
}
ul{
	padding: 0;
	margin: 0;
}
.bg-clr1 {
    background-color:#fff;
}

.bg-clr2 {
    background-color: #fafafa;
}

section {
    padding: 80px 0;
    min-height: 700px;
}


/*commom styles ends*/


/*Navigation styles starts*/

#mainNav {
    background-color: rgb(239, 63, 130)
}

.navbar.navbar-expand-lg.avbar-dark.fixed-top {
    background-color: #212529
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
     font-family: 'Open Sans', sans-serif;
}

#mainNav .navbar-brand {
    color:  #ff0083;
    font-family : 'Open Sans', sans-serif;
}

#mainNav .navbar-brand,
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {

    color :#ff0083
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    /*font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif*/
}

#mainNav .navbar-nav .nav-item .nav-link.active
/*#mainNav .navbar-nav .nav-item .nav-link:hover */{
    color: #ff0083
}


.nav-item .nav-link .active-style {
    width: 0%;
}

.nav-item .nav-link:hover .active-style,
.nav-item .nav-link.active .active-style {
    height: 1px;
    width: 95%;
    border-radius: 0%;
    background: #ef3f82;
    margin: 0 auto;
    position: relative;
    top: 5px;
    transition: 0.3s all;
}


@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em!important;
        font-size: 12px;
        font-family:  'Open Sans', sans-serif;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        height: 80px;
        background-color: #ffffff;
        border-bottom: 1px solid rgba(200, 204, 209, 0.73);
    }
    #mainNav.navbar-shrink .nav-item .nav-link{
        color: #5f5f64;
    }



    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0
    }

}


@media (max-width:991px) {
	 #mainNav .navbar-brand, 
     #mainNav .navbar-brand.active, 
     #mainNav .navbar-brand:active, 
     #mainNav .navbar-brand:focus, 
     #mainNav .navbar-brand:hover {
    color: #ffffff;                                                  
    }
.icon-block{
        margin-bottom: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.pricing-plan{
border-right: 1px solid #eee;
    max-width: 550px;
    margin: 0 auto;
}
.features-block{
    max-width: 500px;
    margin: 0 auto;
}


#mainNav .navbar-toggler{
	background-color: rgb(239, 63, 130);
    border: 2px solid #fff;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    padding:1px 10px;
	        
}
#mainNav .navbar-toggler i.zmdi{
    font-size: 25px;
}
.players-right, .active-style{
    display: none;
}
#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
}
}
/*Navigation styles ends*/


/*sections common styles starts*/

.section-title{
	font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
    color:rgba(0, 0, 0, 0.67);
}

.sub-title{    font-size: 18px;}
 .style-border {
    position: relative;
    height: 3px;
    background-color: #ff0083;
    width: 80px;
    top: 0px;
    display: inline-block;
}


.nice-menu .go-top {

    opacity: 0;
    height: 50px;
    width: 50px;
    position: fixed;

}

.nice-menu.navbar-shrink .go-top a {
    padding: 0;
        color: #e961a0;
    text-decoration: none;
}

.nice-menu.navbar-shrink .go-top:hover {
    background-color: rgba(231, 59, 118, 0.71);
    color: white;

}
.nice-menu.navbar-shrink .go-top:hover span{
 color: white;
}

.nice-menu.navbar-shrink .go-top {
    position: fixed;
    display: inline-block;
    height: 50px;
    bottom: 30px;
    background-color: rgba(239, 63, 130, 0);
    /* box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.22); */
    /* border: none; */
    transition: 0.3s;
    color: #ef3f82;
    opacity: 1;
    border: 1px solid #e75f9e;
    right: 40px;
    font-size: 26px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
/*sections common styles ends*/
