/*banner styles ends*/

.banner-title {
    font-size: 55px;
    text-transform: capitalize;
}

.banner .desc {
    font-size: 16px;
    font-weight: 100;
    word-spacing: 2px;
}

.nice-btn {
    background-color: #f04b63;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 20px;
    outline: none !important;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    min-height: 50px;
}

.banner-content {
    position: relative;
    top: 20%;
}


/*banner styles ends*/


/*how-it-works section styles starts*/

.bg-yellow {
    background: #edc321;
}

.bg-light-red {
    background: #f75e61;
}

.bg-light-green {
    background: #ff0083;
}

.bg-theme {
    background: #915edf;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 20px;
    color: #fff;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-count {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(51, 51, 51, 0.89);
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    top: -5px;
    left: -5px;
    font-size: 14px;
    line-height: 30px;
}

.block-title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin:30px 0 15px 0;
}



/*how-it-works section styles ends*/


/*players section styles starts*/

.players.left {
    float: left;
    font-size: 16px;
    color: #828c91;
    padding-right: 30px;
}

.players-left {
    float: left;
    font-size: 16px;
    color: #828c91;
    padding-right: 30px;
}

.players-left h3 {
    margin-bottom: 20px;
}

.players-desc {
    font-size: 16px;
    color: #828c91;
    margin-bottom: 30px;
}

.players-left ul {
    margin-bottom: 40px;
}

.clearfix {
    zoom: 1;
}

.players-left h3 {
    margin-bottom: 20px;
}

.players-desc {
    font-size: 16px;
    color: #828c91;
    margin-bottom: 30px;
}

.players-left ul {
    margin-bottom: 40px;
}

.players-left ul li {
    padding-left: 40px;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 5px;
    min-height: 70px;
    max-width: 490px;
}

.players-left .nice-btn {
    background-color: #ff0083;
    margin-right: 15px;
}

.players-left ul li:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px;
    -moz-background-clip: padding;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: #ff0083;
    border: 4px solid #f5f5fa;
    -webkit-box-shadow: 0 0 0 1px #ff0083;
    -moz-box-shadow: 0 0 0 1px #ff0083;
    box-shadow: 0 0 0 1px #ff0083;
    left: 0;
    top: 5px;
}

.players-left ul li:after {
    max-height: 100px!important;
    -webkit-transition: max-height 1s ease-in;
    -moz-transition: max-height 1s ease-in;
    -o-transition: max-height 1s ease-in;
    transition: max-height 1s ease-in;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.players-left ul li:after {
    content: "";
    position: absolute;
    width: 2px;
    max-height: 0;
    background-color: #ff0083;
    left: 9px;
    top: 35px;
    bottom: 0;
    -webkit-transition: max-height 1s ease-in;
    -moz-transition: max-height 1s ease-in; 
    -o-transition: max-height 1s ease-in;
    transition: max-height 1s ease-in;
}

.players-left ul li:last-child:after {
    background-color: transparent;
}

#devices.show .players-right img {
    left: -20px;
    opacity: 1;
    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    -o-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

.players-right img {
    position: absolute;
    top: 40px;
    width: auto;
    left: -13px;
    height: 500px;
    opacity: 1;
    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    -o-transition-duration: 1.2s;
    transition-duration: 1.2s;
}



/*players section styles ends*/


/*features section styles starts*/

.features-block {
    color: #828c91;
}

.features-block>div {


    -webkit-transition: -webkit-background-size 1s, opacity 1s;
    -moz-transition: -moz-background-size 1s, opacity 1s;
    -o-transition: background-size 1s, opacity 1s;
    transition: background-size 1s, opacity 1s;
}

.features-block>div[class^=svg-] {
    margin-top: 40px;
    width: 250px;
    opacity: 1;
    -webkit-transition: -webkit-background-size 1s, opacity 1s;
    -moz-transition: -moz-background-size 1s, opacity 1s;
    -o-transition: background-size 1s, opacity 1s;
    transition: background-size 1s, opacity 1s;
}

div[class^=svg-] {
    height: 110px;
}

.svg-reliability {
    background-image: url(../svgs/reliability.svg);
}

.svg-usability {
    background-image: url(../svgs/usability.svg);
}

.svg-support {
    background-image: url(../svgs/support.svg);
}

.svg-fastdeploy {
    background-image: url(../svgs/alarm.svg);
}

.svg-goodprice {
    background-image: url(../svgs/wallet.svg);
}

.svg-scalability {
    background-image: url(../svgs/scalability.svg);
}


.features-block span {
    color: #ff0083;
    font-weight: 600;
    margin-bottom: 10px;
    font-style: italic;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

.features-block p.desc {
    font-size: 15px;
}


/*features section styles ends*/


/*pricing styles starts*/

.pricing-plan {
    border-top: 1px solid #eee;
    min-height: 560px;
    margin-top: 50px;
    transition: .5s;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.plan-head {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #383838;
    margin-top: 20px;
}

.plan-text {
    font-size: 12px;
    line-height: 28px;
}

.plan-price {
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 13px;
    color: #333333;
}

.plan-text-starting {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
}

.webRupee {
    font-family: 'WebRupee' !important;
}

.plan-price .plan-pricing {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
}

.plan-pricing-tag {
    text-align: center;
    font-size: 12px !important;
    transition: 0.5s;
}

.plan-feature ul li {
    padding: 10px 0;
    list-style: none;
    display: block;
    border-bottom: 1px solid #eee;
}

.btn-buy-now {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    margin: 25px;
    box-shadow: none;
    outline: none !important;
    background-color: #222;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    border-radius: 3px;
    min-height: 40px;
}


.pricing-plan.recommended {
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.1);
    transform: scaleY(1.01);
}

.pricing-plan:hover .plan-price,
.pricing-plan.recommended .plan-price,
.pricing-plan.recommended .plan-head,
.pricing-plan.recommended .plan-text,
.pricing-plan:hover .plan-head,
.pricing-plan:hover .plan-text {
    color: #ff0083;
}

.plan-head {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #383838;
    margin-top: 20px;
}

sup {
    top: -.5em;
}

.pricing-plan:hover .btn-buy-now,
.pricing-plan.recommended .btn-buy-now {
    background: #ff0083;
    border-radius: 3px;
    color: #fff;
    min-height: 40px;
}

.pricing-plan.recommended .btn-buy-now a {
    color: #fff;
}

/*where to use styles starts (hexagon)*/
.content-title{
    font-size: 25px;
    letter-spacing: -1px;
    color: #4b4b50;
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
}
.content-title:before{

}
.dw-pills-content .style-border{
    top: -5px;
}

li.short-note:before{
      content: "";
          margin-top: 12px;
    height: 2px;
    width: 20px;
    background-color: rgba(255, 0, 131, 0.65);
    position: absolute;
    top: auto;
    left: 0;
}


.dw-pills-content .description{ 
    color: #828c91;
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
  }

.inner-title{
    font-size: 20px;
    color:#ff0083;
    margin-bottom: 15px;
    text-transform: capitalize;
}
ul.text-content{
    position: relative;
}
ul.text-content li{
display: block;
}
.short-note{
    margin-bottom: 7px;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 400;
    text-transform: none;
    color: #828c91;
}


.box {
    position: absolute;
      text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon {
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.52);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: url(../images/sparkler.jpg);
    background-size: contain;
    background-position: center center;
}
#boxL1 .hexagon{
     background-image: url(../images/shop.jpeg);
         background-position: center !important;
}

#boxL2 .hexagon{
     background-image: url(../images/hospital.jpeg);
         background-position: center !important;
}

#boxL3 .hexagon{
     background-image: url(../images/hospitality.jpeg);
         background-position: center !important;
}

#boxL4 .hexagon{
     background-image: url(../images/restaurants.jpg);
         background-position: center !important;
}

#boxR1 .hexagon{
     background-image: url(../images/sports.jpeg);
         background-position: center !important;
}

#boxR2 .hexagon{
     background: url(../images/cars.jpg);
         background-position: center !important;

}
#boxR3 .hexagon{
     background-image: url(../images/gyms.jpeg);
         background-position: center !important;
}




.hexagon{
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.dw-pills.nav-pills .nav-link.active, .show>.nav-pills .nav-link{
    background-color: transparent;
}
.dw-pills .nav-link {
    padding: 0;
    display: inline-block;
    margin: 0;
    position: relative;
}



.box .text{
    position: absolute;
    color: #ffffff;
    top: 0;
    bottom: 0;
/*    text-transform: capitalize;
*/    font-size: 83%;
    font-weight: 900;
    left: 0;
    vertical-align: middle;
    text-align: center;
    right: 0;
    display: inline-block;
    opacity: 0;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-60deg);
    transition: 0.3s;

}
.box:hover .text{
    opacity: 1;
    transform: rotate(0deg);

}

.box:hover .hexagon .layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(239, 63, 130, 0.73);
    display: inline-block;
    width: 100%;
}
.box:hover .hexagon{
transition: 0.2s; 
}
.dw-pills #box1 {
    top: 5px;
    left: 251px;
}

.dw-pills #box4 {
    left: 264px;
    top: 250px;
}

.dw-pills #box3 {
    top: 124px;
    left: 323px;
}

.dw-pills #box2 {
    left: 179px;
    top: 127px;
}

.dw-pills #boxL1 {
    left: 136px;
    top: 28px;
}

.dw-pills #boxR1 {
    left: 391px;
    top: 15px;
}

.dw-pills #boxL2 {
    top: 121px;
    left: 77px;
}

.dw-pills #boxL3 {
    top: 213px;
    left: 98px;
   /* font-size: 85%;*/
}

.dw-pills #boxL4 {
    top: 272px;
    left: 138px;
}

.dw-pills #boxR2 {
    top: 140px;
    left: 463px;
}

.dw-pills #boxR3 {
    top: 255px;
    left: 398px;
}


/*where to use styles ends (hexagon)*/


/*footer styles starts*/

footer.footer {
    background: #eee;
    padding-top: 9px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.copyright {
    font-size: 14px;
    transition: 0.3s;
}

.social {
    float: right;
}

.terms {
    padding: 8px 0;
    color: rgba(71, 71, 71, 0.88);
    text-transform: capitalize;
    font-weight: 500;
    line-height: 30px;
}
.terms span.term a{
    color: rgba(71, 71, 71, 0.88);
}
.terms span.term,
.terms span.rights {
    font-size: 13px;
    padding: 0 6px;
    transition: 0.3s;
}
.terms span.term:hover{
    text-decoration: underline;
    cursor: pointer;
        color: #ef3f82;
}

.social .icon {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: 35px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #999999;
    border-radius: 100%;
    height: 35px;
    display: inline-block;
    background-color: #999999;
    width: 35px;
}

.social .icon:hover {
    background-color: #ef3f82;
    color: #fff;
    border: 1px solid #ef3f82;
    cursor: pointer;
}

.social .icon,
.copyright {
    color: rgba(255, 255, 255, 1);
}

.copyright .dw {
    font-weight: 900;
    display: inline-block;
    font-size: 30px;
    color: #474747;
    position: relative;
    cursor: default;
    top: -5px;
}

/*footer styles ends*/



/*extra pages*/
 .go-back {
        background-color: rgb(239, 63, 130);
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #ef4890;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 54px;
    width: 54px;
    outline: none !important;
    box-shadow: none;
    cursor: pointer;
    position: fixed;
    top: 5%;
    left: 10%;
    }

    .go-back span {
            display: block;
    font-size: 15px;
    color: #ffffff;
    }
    .go-back a{
            display: inline-block;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    }
    h2 b{
        text-transform: uppercase;
    }
/*extra pages*/